
.table{
    color: white;
}
.table-topItem{
    margin-top: 5%;
    border: 1px solid #28282D;
    width: 45%;
    margin: 2%;
    border-radius: 10px;
    background-color: #28282D;
}
.title-admin{
    color: white;
    border-top: 2px solid #FF5783;
    width: 22%;
    margin-right: 3%;
    border-radius: 10px;
    margin-top: 5%;
}