body{
    background-color: #30272C;
}

.login-form{
    width: 400px;
    padding: 5%;
    background-color: #28282D;
    /* color: #917B60; */
    margin: auto;
    margin-top: 10%;
    text-align: center;
    border-radius: 10px;
    border-top: 2px solid #FF5783;
    box-shadow: 2px 1px 17px 3px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 1px 17px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 1px 17px 3px rgba(0,0,0,0.75);
}
.img-login{
    margin-bottom: 5%;
}
.input-email{
    height: 40px;
    background-color: #2B2B31;
    color: #959592;
}
.input-pass{
    height: 40px;
    background-color: #2B2B31;
    color: #959592;
}
.ant-input{
    background-color: #2B2B31;
    color: #959592;
}
.login-form-button{
    width: 100%;
    margin-bottom: 5%;
    background-color: #DE5064;
    height: 50px;
}