.top{
   display: flex;
   justify-content: space-around;
}
.btn-addItem{
   width: 10%;
   border: none;
   border-radius: 10px;
   background-color: #DE5161;
   color: white;
}
.dashboard{
   color: white;
}