.detail{
    margin-top: 10%;
    color: white;
}
.detail-content{
    display: flex;
    margin-top: 5%;
}
.content-detail{
    margin-left: 5%;
    margin-top: 5%;
}
.content-detail p{
    color: #C0C0B9;

}
.content-detail span{
    color: #B74773;
}
.video{
    margin-top: 25%;
}
.title-comment-top{
    color: white;
}
.user-comment{
    margin-top: 10%;
}
.col-8 i{
    color: white;
    font-size: 70px;
    margin-bottom: 5%;
}
.col-8 p{
    color: white;
}
.col-8 span{
    color: white;
    align-items: center;
   
}
.icon-user{
    display: flex;
}
.icon-user span{
    margin-left: 2%;
    font-size: 20px;
}
.title-buttom{
    color: white;
}
.img-content-detail{
   width: 50%;
   display: flex;
}
.image-content{
    width: 100%;
}
.col-4{
    margin-top: 5%;
}
.col-4 h1{
    margin-bottom: 20px;
    color: white;
}
.col-6{
    color: white;
}
.col-6 span{
    color: #B74773;
}
.input-user-comment{
    width: 80%;
    height: 50px;
    background-color: gray;
    color: black;
    border-radius: 10px;
    padding-left: 20px;
}
.input-comment{
    margin-top: 5%;
}
.btn-comment{
    width: 20%;
    height: 50px;
    color: white;
    background-color: #DE5165;
    border-radius: 10px;
    border: none;
}