.item-content-cart{
    display: flex;
    color: white;
    margin-top: 2%;
}
.img-item{
    margin-right: 2%;
}
.action-item{
    color: #904057;
}
.content-item-cart{
    margin-top: 20%;
    font-size: 20px;
    color: #C0C0C2;
}
.img-cart{
    width: 100%;
}
.cart-item-content{
    color: white;
}
.cart-item-content p{
    color: #904057;
}
.title-cart{
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}
.btn-cart{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.btn-show{
    padding: 1%;
    color: white;
    background-color: #DE505F;
    border-radius: 10px;
    border: none;
}
.new-item-content{
    padding: 0;
}