*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row-navbar{
    align-items: center;
    background-color: #2B2B31;
    width: 100%;

    color: #CACACB;
    
}
.row-navbar a:hover{
    color: #E65098;
}
.row-navbar span:hover{
    color: #E65098;
}
.btn-navbar{
    color: white;
    padding: 5% 10% 5% 10%;
    background-color: #DE5089;
    border: none;
    border-radius: 5px;
    width: 100%;
}
.dropdown-menu{
    background-color: #2D2C32;
    border-top: 2px solid #FF5682;
    
}
.dropdown-menu a{
    color: #C2C2C3;
}
.input{
    width: 100%;
    background-color: #28282D;
    height: 50px;
    color: #C2C2C3;
}
.btn-search{
    width: 10%;
    height: 40px;
    background-color: #DE5061;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: -12%;
}
.search{
    background-color: #2B2B31;

}
.row{
    width: 100%;
}
.col-3{
    background-color: #28282D;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-name{
    background-color: #2B2B31;
    width: 100%;
    position: fixed;
}
.input{
    padding-left: 2%;
}
.logo-flixgo{
    padding: 4%;
    
}
.img-navbar{
    text-align: center;
}